@font-face {
    font-family: RobotoSlab;
    src: url("../public/RobotoSlab-VariableFont_wght.ttf")
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: RobotoSlab;
}

img {
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #FFCA41;
    align-items: center;
    padding: 2vh 1vw 1vh 2vw;
}

nav a {
    background-color: white;
    border-radius: 100%;
    width: 10%;
    height: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 5vw;
}
